{% extends "store/layout.html" %}
{% load static %}

<!-- One thing to note here is that if we are using this static tag to determine the url for the correct static file,
then we need to load this tag into the html file that is using this static tag by including the following:
{% load static %} -->

{% block content %}
    <div class="row">
    
    {% for product in products %}
    <!-- I need to look into this col-lg-4 and other similar classes and try to understand what sort of formatting they permit. -->
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.image.url}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn" data-product_id = {{product.id}} data-button_type = "add">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <!-- Simply by adding the floatformat filter below, we were able to align each of the product prices
                such that they were now within the div instead of overflowing from them.
                Need to look into why this took place. 
                -->
                <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock content %}